[FORMAT]
max-line-length = 120
expected-line-ending-format = LF

[MESSAGES CONTROL]
disable =
    duplicate-code,
    missing-module-docstring,
    missing-function-docstring,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    too-many-arguments,
    too-many-positional-arguments,
    cyclic-import,
    line-too-long,
    redefined-outer-name,
